import streamlit as st
import pandas as pd
import pickle as pkl
import itertools
import snscrape.modules.twitter as sntwitter
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
nltk.download('vader_lexicon')
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = (stopwords.words('english'))
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import datetime
from wordcloud import WordCloud
from PIL import Image
import warnings
warnings.filterwarnings('ignore')